<!-- <app-pepole></app-pepole> -->

<app-search-on-server></app-search-on-server>

<!-- <div>
    <button (click)="showAll = !showAll">Show/Hide</button>
    <h2>Current count value is {{count}}</h2>
    <app-count-ver2></app-count-ver2>
    <ng-container *ngIf="showAll">
        <app-count-ver2></app-count-ver2>
        <app-count-ver2></app-count-ver2>
        <app-count-ver2></app-count-ver2>
        <app-count-ver2></app-count-ver2>
        <app-count-ver2></app-count-ver2>
    </ng-container>


</div> -->